<a href="https://colab.research.google.com/github/drsahilsartaj/RoadMapforAI/blob/main/1.1%20Python_Introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
# Get all keywords in python 3.7

import keyword
print(keyword.kwlist)
print(f"Total number of keyword in python 3.7 is {len(keyword.kwlist)}")

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
Total number of keyword in python 3.7 is 35

### Python Multiline statement

In [18]:
a = 1 + 2 + 3 + \
    4 + 5 + 6 + \
    7 + 8

In [19]:
print(a)

36

In [20]:
#another way is
a = (1 + 2 + 3 +
    4 + 5 + 6 +
    7 + 8)
print(a)

36

In [21]:
a = 10; b = 20; c = 30   #put multiple statements in a single line using ;

In [22]:
# Multiple Assignments

a, b, c = 10, 5.5, "ML"

In [23]:
a = b = c = "AI" #assign the same value to multiple variables at once

## Number

In [24]:
a = 5                               #data type is implicitly set to integer
print(a, " is of type", type(a))

5  is of type <class 'int'>

In [25]:
a = 2.5                            #data type is changed to float
print(a, " is of type", type(a))

2.5  is of type <class 'float'>

In [26]:
a = 1 + 2j                          #data type is changed to complex number
print(a, " is complex number?")
print(isinstance(a, int))
print(isinstance(1+2j, complex))

(1+2j)  is complex number?
False
True

In [27]:
a="AAA"
b="AAA"
print(a is not b)

False

# **Python Input and Output**

## **Python Output**

In [28]:
print("Hello Coder")

Hello Coder

In [29]:
a = 10
print("The value of a is:", a) #python 3
print("The value of a is: " + str(a)) #we concatenate two str using +
print(f"The value of a is: {a}") #using f
print("The value of a is: {}".format(a)) #output formatting

The value of a is: 10
The value of a is: 10
The value of a is: 10
The value of a is: 10

### **Output Formatting**

In [30]:
a = 10; b = 20
print("The value of a is {} and b is {}".format(a, b)) #default output formatting

print("The value of b is {1} and a is {0}".format(a, b)) #specify position

print("Hello {name}, {greetings}".format(name="Samir", greetings="Good Morning!")) #use keyword arguments

The value of a is 10 and b is 20
The value of b is 20 and a is 10
Hello Samir, Good Morning!

In [31]:
print('greetings from iNeuron')

print("Good Evening")

print("""Good
Evening""")

print("""Good
Evening
from
India""")

greetings from iNeuron
Good Evening
Good
Evening
Good
Evening
from
India

## **Python Input**

use **input()** function

In [32]:
number = input("Enter the value ")
print(number)

Enter the value 10
10

Question: What will be the output of this?

In [33]:
a = input("Enter the first number: ")
b = input("Enter the second number: ")

print(f"The sum of a and b is {a+b}")

Enter the first number: 11
Enter the second number: 10
The sum of a and b is 1110

This happpens bcz **input()** always take string. So to make the changes into integer we need to **type cast**2

#type casting or type conversion

In [34]:
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))

print(f"The sum of a and b is {a+b}")

Enter the first number: 10
Enter the second number: 11
The sum of a and b is 21

# Comments

In [35]:
# say hello to the students
print("Hi Students")

Hi Students

# Multi line comments

In [36]:
"""
Say Hi
To the students
"""
print('Hi Students')

Hi Students

# Variables in python

1. Variable names should start with alphabets

2. Variable names should not contain any special characters like ^ % $ ! @ # ^ & * ( )

3. Variable names can contain numbers but you can't start with numbers

4. Its not a strict rule that you should not use variable names with a Captial letter. But its recommended to use small letters for the variables

In [37]:
ten = 10
ten_number = 10
tenNumber = 10

In [39]:
ten* = 10 # syntax error

ten%number = 10 #syntax error

SyntaxError: invalid syntax (<ipython-input-39-5d701c5f1651>, line 1)

In [40]:
ten10 = 10 #correct

10ten = 10 #syntax error

SyntaxError: invalid decimal literal (<ipython-input-40-d31ddf0211f1>, line 3)

In [41]:
# NOTE
__num = 10 # hidden variable

_ = 10 # dummy variable

## Multi assignment of variables

In [42]:
a, b, c = 21, "Radha", True

In [43]:
print(type(a),type(b),type(c))

<class 'int'> <class 'str'> <class 'bool'>

In [44]:
x,y,z=10 # TypeError: cannot unpack non-iterable int object
print(x,y,z)

TypeError: cannot unpack non-iterable int object

In [45]:
x=y=z=10
print(x,y,z)

10 10 10

# **Operators**

## **Operator Types**



1.   Arithmetic operators [**+, -, \*, /, %, //, \****]
2.   Comparision (Relational) operators [**>, <, ==, !=, >=, <=**]
3.   Logical (Boolean) operators [**and, or, not**]
4.   Bitwise operators [**&, |, ~, ^, >>, <<**]
5.   Assignment operators [**=, +=, -=, \*=, /=, //=, &=, |=, ^=, >>=, <<=, %=, **=**]
6.   Special operators [**is, is not, in, not in**]

## **Arithmetic operators**

+, -, \*, /, %, //, \** are arithmetic operators


|Operation|Meaning|
|:-:|:-:|
| **+** |addition|
| **-** |subtraction|
| **\*** |multiplication|
| **/** |true division|
| **//** |integer division|
| **%** |the modulo operator|

In [46]:
x, y, a, b = 10, 20, 21, 5
print(x+y) #addition
print(x-y) #subtraction
print(x*y) #multiplication
print(y/x) #division
print(a%b) #modulo division
print(a//x) #floor division
print(x**b) #exponent like 10 to the power 5

30
-10
200
2.0
1
2
100000

## **Comparision Operators**

Used to **compare values** and it returns only **True or False** according to the condition

\>, <, ==, !=, >=, <= are comparision operators


|Operation|Meaning|
|:-:|:-:|
| **>** |greater than|
| **<** |less than|
| **==** |equal equal|
| **!=** |not equal|
| **>=** |greater than equal|
| **<=** |less than equal|

In [47]:
a, b = 10, 20
print(a==b) # check with different operators

False

## **Logical Operators**

Keywords | Meaning
- | -
not | unary negation
and | conditional AND
or | conditional OR

In [48]:
a, b = True, False
print(a and b) #check with or and not

False

## **Bitwise Operators**

Bitwise operators act on operands as if they were **string** or **binary digits**. It operates bit by bit.

&, |, ~, ^, >>, <<


|Operation|Meaning|
|:-:|:-:|
| **&** |bitwise add|
| **|** |bitwise or|
| **~*** |bitwise not|
| **^** |bitwise XOR|
| **>>** |bitwise rightshift|
| **<<** |bitwise leftshift|

[Notice Notes]

In [49]:
a, b = 10, 4
print(a & b) # Bitwise AND
print(a | b) # Bitwise OR
print(~a) # Bitwise NOT
print(a ^ b) #Bitwise XOR
print(a>>b) #Bitwise rightshift
print(a<<b) #Bitwise leftshift

0
14
-11
14
0
160

## **Assignment Operators**

=, +=, -=, \*=, /=, //=, &=, |=, ^=, >>=, <<=, %=, **=

In [50]:
a = 10
a += 10 #check for other operators
print(a)

20

## **Special Operators**


*   **Identity Operators**
*   **Membership Operators**

### **Identity Operators**

**is** and **is not** are the identity operators.

They are used to check if two objects (or variables) are located on the same memory location/address


Operator | uses | Meaning
- | - | -
is | A is B=> | return True if A and B points to the same object   
is not | A is not B | returns True if A and B do not points to the same object
== | A == B | A is equal to B
!= | A != B | A is not equal to B

When using `is` then we are also comparing memory location
When using `is not` then we are also comparing memory location

== and != is only checking value of the variables [Used more offently or frequently]

In [51]:
a = 5
b = 5
print(a is b) #same object so True
print(a is not b) #same object but is not so False

l1 = [1, 2, 3]
l2 = [1, 2, 3]
print(l1 is l2) #not same address of the objects

True
False
False

In [52]:
s1 = "AA"
s2 = "AA"
print(s1 is s2)
print(s1 is not s2)

True
False

### **Membership Operators**

**in** and **not in** are the membership operators.

They are used to test whether a value or variable is found in sequence (string, list, tuple, set and dictionary)

In [53]:
lst = [1, 2, 3, 4]
print(1 in lst) #check 1 is present in the list or not
print(7 in lst)

True
False

In [54]:
dic = {1: "a", 2: "b"} #we can only check key of the key-value pairs in dictionary
print(1 in dic)
print("a" in dic)

True
False

# Fundamental data types

## integers

In [55]:
a = 7

In [56]:
type(a)

int

## floats - numbers containing decimal numbers

In [57]:
pi = 3.14

In [58]:
type(pi)

float

In [59]:
x = 2.0
type(x)

float

In [60]:
x = 2
type(x)

int

## Complex numbers

In [61]:
a = 2+3j
a

(2+3j)

In [62]:
type(a)

complex

In [63]:
a.real

2.0

In [64]:
a.imag

3.0

## Dynamic typing

In [65]:
a = 22
type(a)
a = 22.2
type(a)

float

In [66]:
a = 22
print(type(a))
a = 22.2
print(type(a))
a = "Sunny"
print(type(a))
a = 'Sunny'
print(type(a))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>

In [67]:
print(a)

Sunny

## Strong typing

In [68]:
"Day " + 1

TypeError: can only concatenate str (not "int") to str

In [ ]:
22.2 + 1

In [69]:

"Day " + "1"

'Day 1'

In [70]:
22 + 22

44

In [71]:
"22" + "22"

'2222'

In [72]:
"22" + 22

TypeError: can only concatenate str (not "int") to str

In [ ]:
'22' + "22"

# **Control Flow**

The **if**.....**elif**.....**else** statement is used in Python for decision making.

**0, None and False** is considered as False

Except these three all are True

Eg: -1, 11, "AA", etc

In [ ]:
num = 10
if num == 10:
  print("Hi")
else:
  print("Hoo")

In [73]:
# None used
num = 10
if None:
  print("Hi")
else:
  print("Hoo")

Hoo

In [74]:
# 0 used
num = 10
if num - 10:
  print("Hi")
else:
  print("Hoo")

Hoo

In [75]:
# False used
num = 10
if num != 10:
  print("Hi")
else:
  print("Hoo")

Hoo

## if-elif-else Example

In [76]:
num = 10
if num >= 10:
  print("Hi")
elif num == 0:
  print("Hey")
else:
  print("Hoo")

Hi

In [77]:
attendance = 70
assignment_submitted = 40
sports_player = True

print(f"attendence criteria met? : {attendance >= 75}")
print(f"assignment criteria met? : {assignment_submitted >= 70}")
print(f"sports criteria met? : {sports_player}")

if attendance >= 75 and assignment_submitted >= 70:
    if sports_player:
        print("The student is eligible to appear in final exam")
    else:
        print("The student is eligible to appear in final exam")
else:
    print("The student is not eligible")

attendence criteria met? : False
assignment criteria met? : False
sports criteria met? : True
The student is not eligible

### Single line if else

In [80]:
# Recommended approach
# Its more readable and clean

val = float(input("Enter a number"))

if val > 99:
  print("YES")
else:
  print("NO")

Enter a number1
NO

In [81]:
# only good for competitive programming
val = float(input("Enter a number: "))

print("YES" if val > 99 else "NO")

Enter a number: 100
YES

## **while loop with else**

Same as that of *for loop*, we can have an optional else block with while loop as well.

The else part is executed if the condition in the while loop evaluates to False. The while loop can be terminated with a **break** statement.

In such case, the else part is ignored. Hence, a while loop's else part runs if no break occurs and the condition is False.

In [82]:
num = [1,2,3]
index = 0

while index < len(num):
  print(num[index])
  index +=1 #pre-increment or post-increment is not there in Python
else:
  print("No item left in the list")

1
2
3
No item left in the list

## **Python for Loop**

The for loop in Python is used to iterate over a sequence (list, tuple, string) or other iterable objects.

Iterating over a sequence is called **traversal**.

### **Syntax**

```
for element in sequence:
    body of for
```

Here, element is the variable that makes the value of the item inside the sequence on each iteration.

Loop continues until we reach the last item in the sequence.

In [83]:
lst = [10, 20, 30, 40, 50]

product = 1

for item in lst:
  product *= item

print(f"Product is: {product}")

Product is: 12000000

## **range(function)**

We can generate a sequence of numbers using range() function.

eg. range(10) will generate numbers from 0 to 9 (10 numbers)

range() function has the **start, stop,** and **step size** as **range(start, stop, step size)**. By default step size is 1 if not provided.

This function does not store all the values in memory, it would be inefficient. So it remembers the start, stop, step size and generates the next number on the go.

In [84]:
for i in range(1, 20, 2): #exactly same as for(i=1; i<20; i+=2) in C language
  print(i)

1
3
5
7
9
11
13
15
17
19

In [85]:
lst = ["Samir", "Samar", "Safar", "Sahil"]

for item in range(len(lst)):
  print(lst[item])
#both give same output 1st using range() func and 2nd using simple way
for item in lst:
  print(item)

Samir
Samar
Safar
Sahil
Samir
Samar
Safar
Sahil

## **for loop with else**

A for loop can have an optional else block as well. The else part is executed if the items in the sequence used in for loop exhausts.

break statement can be used to stop a for loop.

Hence, a for loop's else part runs if no break occurs.

In [86]:
number = [1, 2, 3]

for item in number:
  print(item)
else:
  print("No item left in the list")

1
2
3
No item left in the list

## **Python *break* and *continue* Statements**

In [87]:
number = [1, 2, 3, 4]

for num in number:
  if num == 4:
    break
  print(num)
else:
    print("in the else-block")
print("Outside of for loop")

1
2
3
Outside of for loop

In [88]:
number = [1, 2, 3, 4, 5]

for num in number:
  if num % 2 == 0:
    continue
  print(num)
else:
    print("in the else-block")

1
3
5
in the else-block

# Memory block

In [89]:
a = 22
b = 34
c = 22

In [90]:
id(a) # memory address

135442644648848

In [91]:
id(b)

135442644649232

In [92]:
id(c)

135442644648848

In [93]:
c = 12 + a

In [94]:
id(c) #address got change

135442644649232

In [95]:
a = 22
id(a)

135442644648848

In [96]:
a = 99
id(a)

135442644651312

**NOTE**: Memory is assigned to the value of the variable passed not the variable name.

In [97]:
a = 22
b = 34
c = 22

print(id(a), id(b), id(c))

135442644648848 135442644649232 135442644648848

In [98]:
a = "Sunny"
b = 34
c = "Sunny"

print(id(a), id(b), id(c))

135441315933296 135442644649232 135441315933296

In [99]:
a = "S"
b = 34
c = "S"

print(id(a), id(b), id(c))

135442643524080 135442644649232 135442643524080

In [100]:
a = 22
b = 34
c = 22.0

print(id(a), id(b), id(c))

135442644648848 135442644649232 135441320282096

# iNeuron Assignment

https://colab.research.google.com/drive/1MeY4jyYte81PTIcfy3MRg6pEQ8dEjzjS